.tag-role-type {
  color: #334680;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;

  border: 1px solid #334680;
  border-radius: 0.25rem;

  padding: 0.375rem 0.5rem;
}
