.job-listing {
  display: flex;
  gap: 4rem;

  margin-top: 2rem;
}

@media (max-width: 700px) {
  .job-listing {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 2rem;
  }
}
