.logo {
  color: #282538;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;

  max-width: 75rem;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
}

h1 > span {
  font-weight: 300;
}
